my_div{
    border: 10px solid gray;
}
.flex-container {
    display: flex;
    border: column-reverse;
}

.box1 {
    width: 10vw;
    color: green;
}

.box2 {
    width: 10vw;
    color: yellow;
}

.box3 {
    width: 10vw;
    color: red;
}

.box4 {
    width: 10vw;
    color: pink;
}

.box5 {
    width: 10vw;
    color: chartreuse;
}

.box6 {
    width: 10vw;
    color: khaki;
}

.box7 {
    width: 10vw;
    color: goldenrod;
}

.box8 {
    width: 10vw;
    color: burlywood;
}
